div.App {
  text-align: center;
}

div.addbookmark {
    width: 400px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    
  align-items: center;
      border: 5px solid#664F29;
      border-style: dashed;
  
    
    
  }

  input[type="text"],
input[type="url"],
textarea,
select {
  background-color: #fff;
  border: 2px solid #d1d1d1;
  box-sizing: border-box;
  height: 38px;
  margin-bottom: 0.5em;
  text-align: center;
  width: 184.417px;
  display: block;
}

input[type="text"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}

textarea {
  min-height: 68px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type="text"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus {
  border: 3px solid #aaa8a8;
  outline: 0;
}

label {
  display: block;
  margin-bottom: 0.4rem;
  font-weight: 600;
}
  


  button#cancel, button#submit {
    margin-top: 5px;
    padding: 10px;
    text-align: right;
    background-color: transparent;
    border: 3px dashed#664F29;
    box-sizing: border-box;
    color: #555;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    height: 38px;
    letter-spacing: 0.05rem;
    line-height: 34px;
    padding: 0 26px;
    text-align: center;
    text-transform: uppercase;
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  
  }

 button#cancel:hover, button#submit:hover {
    color: white;
    text-emphasis-color: #664f29;
    border-color: #858383;
    outline: 0;
  }

  @media (mins-width: 460px) {
    #filter-label {
      float: none;
      display: inline-block;
      text-align: center;
    }
  
    select {
      float: none;
    }
  
    .filter-control {
      float: none;
    }
  
    .controls {
      text-align: center;
    }
  
    .edit-btn {
      float: none;
    }
  
    .bookmark-button {
      float: none;
    }
  }
  
  @media (min-width: 1000px) {
/* 
input#title,
input#url,
textarea#description,
label {
  align-items: center;
  text-align: center;
} */
    form.addBookmark__form {
      align-items: center;
  
      width: 7in;
    }
    ul {
      text-align: center;
      font-size: 28px;
    }
    body {
      padding-left: 200px;
      padding-right: 200px;
      align-items: center;
    }
    body {
      background-repeat: repeat-y;
    }
  }

  div.error{
    font-size: 60px; 
    font-weight: 200;
    background-color: beige;
    margin-bottom: 15px;

  }

  @media (mins-width: 460px) {
    #filter-label {
      float: none;
      display: inline-block;
      text-align: center;
    }
  
    select {
      float: none;
    }
  
    .filter-control {
      float: none;
    }
  
    .controls {
      text-align: center;
    }
  
    .edit-btn {
      float: none;
    }
  
    .bookmark-button {
      float: none;
    }
  }
  
  @media (min-width: 1000px) {
    form {
      align-items: center;
  
     
    }
    div.addBookmark {
      width: 7in;
    }
    
  }
  
  
  
